
body{
  font-family: 'Raleway', sans-serif;
}
y.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.navbar{
  background-color:white;
  z-index:1;
}
.navbar-brand{
  color: #30C2DC;
  background-color: none;
}
 h2{
  font-size: 40px;
}
p {
  font-size: 20px;
}
.about{
  height: 100vh;
}
.lbrown{
  color: #DBAD6C;
}
.dbrown{
  color: #8F4620;
}
.green{
  color: #008647;
}
.red{
  color: #CE1126;
}
.blue{
  color: #30C2DC;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}