body{
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.navbar{
  background-color:white;
  z-index:1;
}
.navbar-brand{
  color: #30C2DC;
  background-color: none;
  padding: 0;
}
.navbar-dark{
  background-color:white;
}
#image1{
   background-image: url("http://dk67ws7rbunfc.cloudfront.net/mountains.jpg");
}
#image2{
   background-image: url("http://dk67ws7rbunfc.cloudfront.net/colorful.jpg");
}
.parallax{
    height: 600px;
    background-size:100%, 100%;
    margin: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#about .title-section{
  color:#e4007c;
}
 h2{
  font-size: 40px;
}
p {
  font-size: 20px;
}
#about{
  margin-top:10%;
  margin-bottom:10%;
}
#menu{
  margin-top:5%;
  margin-bottom:15%;
}
ul{
  list-style:none;
}
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:322px;
  width:825px;
}
.address{
  font-size:30px;
}
.underline{
  padding-bottom:10%;
  border-bottom-style: solid;
  color: #e4007c;
}
.mapouter{
  position:relative;
  text-align:right;
  height:322px;
  width:825px;
}
.spaced{
  padding: 2%;
}
.lbrown{
  color: #DBAD6C;
}
.dbrown{
  color: #8F4620;
}
.green{
  color: #008647;
}
.red{
  color: #CE1126;
}
.blue{
  color: white;
  background-color: #30C2DC;
}
.pink{
  color: white;
  background-color: #e4007c;
}
.center{
  margin-left: auto;
  margin-right: auto;
}
